#chatContainer {
	width: 500px;
	height: 500px;
}

#chat {
	overflow: auto;
	height: 450px;
}

p {
	line-height: 90%;
	margin: 3px 0px 3px 5px;
}

#chatInput {
	width: 500px;
	margin-bottom: 10px;
}

body {
	padding: 50px;
}
