#chatContainer {
	width: 500px;
	height: 500px;
	margin-top: 10px;
}

#chat {
	overflow: auto;
	height: 450px;
}

#chatInput {
	width: 500px;
	margin-bottom: 10px;
}

body {
	padding: 50px;
}

.form-signin {
	max-width: 330px;
	padding: 10px;
	margin: 10px 0px;
}
