div#chatContainer {
	height: 500px;
	margin-top: 10px;
}

div#chat {
	overflow: auto;
	height: 450px;
	border: solid LightGray 1px;
	border-radius: 10px;
	margin-top: 2px;
}

div#chatInput {
	margin-bottom: 10px;
}

body {
	padding: 50px;
}

div#newUser {
	width: 500px;
	height: 300px;
	position: absolute;
	top: 100px;
	left: 200px;
	z-index: 10;
	border: solid black 1px;
	border-radius: 10px;
	background-color: white;
	padding: 10px;
}

.modalOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.3); /* black semi-transparent */
}

span.close {
	float: right;
}